{{define "element"}}
<div
  class="w-12 h-12 flex items-center justify-center text-2xl font-bold border border-gray-400 bg-white opacity-0 animate-fadeIn"
>
  {{if .Value}} {{ if eq .Value.XorO "x" }}
  <span class="text-red-500">x</span>
  {{ else if eq .Value.XorO "o" }}
  <span class="text-blue-500">o</span>
  {{ end }} {{else}}
  <button
    hx-get="/play?row={{.Id.Row}}&col={{.Id.Col}}&gameID={{.GameID }}"
    hx-target="this"
    hx-swap-oob="true"
    hx-swap="outerHTML"
  >
    Play
  </button>
  {{end}}
</div>
<script>
  document.addEventListener("htmx:afterRequest", function (event) {
    // Check if the server has indicated a full page reload
    if (event.detail.xhr.getResponseHeader("HX-Reload") === "true") {
      // Reload the entire page
      window.location.reload();
    }
  });
</script>
{{end}}
