package view

import (
	"github.com/kisinga/go-htmx-tictactoe/model"
	"fmt"
)

templ Board(board *model.Board) {
	@layout() {
		<div
			hx-ext="sse"
			sse-connect={ fmt.Sprintf("/events/%s", board.GameID) }
		>
			for rowId, row := range board.Rows {
				<div class="grid grid-cols-3 gap-2" id={ fmt.Sprintf("row-%d", rowId) }>
					for _, cell := range row {
						@Cell(cell, board.GameID)
					}
				</div>
			}
		</div>
	}
}
